.button-orange {
	text-align : center;
	background-color:#FEE7D6;
	color: #334E58;
	width : 300px;
	padding : 15px;
	margin : 0 auto;
	margin-right: 30px;
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border:1px solid #F48725;
}

.button-orange:hover {
	background-color: #F48725;
	transition: background-color 0.3s ease;
}