
#reseaux-sociaux i{
	color:#334E58;
}


#reseaux-sociaux .logos-rs {
	font-size: 40px;
}


#reseaux-sociaux i:hover{
	color:#F48725;
	transition: 0. s ease
}

#reseaux-sociaux h2 {
	font-family: lobster, cursive;
	border: none;
	font-size: 40px;
	font-weight: 10;
	text-transform: none;
}

@media (max-width: 820px) {
  /* For a screen < 720px, this CSS will be read */
  	#reseaux-sociaux h2 {
		padding: 0px;
		margin:0 auto;
		width: 200px;
		font-size: 25px;
	}
}