

#reseaux-sociaux i{
	color:#334E58;
}


#reseaux-sociaux .logos-rs {
	font-size: 40px;
}


#reseaux-sociaux i:hover{
	color:#F48725;
	transition: 0. s ease
}

#reseaux-sociaux h2 {
	font-family: lobster, cursive;
	border: none;
	font-size: 40px;
	font-weight: 10;
	text-transform: none;
}