#menu .list-without-bullet-point {
  padding-top: 10px;
  padding-bottom:10px;
  margin-top:0;
  background-color:white;
  text-align : center;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
}
#menu .inline a {
	margin: 0;
	padding:10px;
}

#menu .inline a:hover {
	color:#F48725;
} 

#menu .inline:hover {
	background-color: #334E58;
	transition: background-color 0.4s ease;
}

@media (max-width: 820px) {
  /* For a screen < 720px, this CSS will be read */

  #menu .inline {
    display:block;
  }
}